<div class="container color-back-footer pt-3 pb-1">
    <div class="d-flex justify-content-between">
        <div class="p-2 mt-5 normal-text-3">
            <span>&#169; Copyright 2021</span>
        </div>
        <div class="p-2">
            <a href="https://www.nexplore.com/#index" target="_blank">
                <img class="image-icon" src="../../assets/images/nexplore.jpeg" title="{{'NEXPLORE' | translate}}" alt="{{'NEXPLORE_ICON' | translate}}" width="140px" height="140px">
            </a>
        </div>
        <div class="p-2 mt-5">
            <a href="https://www.linkedin.com/company/nexploreglobal/" target="_blank">
                <img class="image-icon" src="../../assets/images/linkedin.svg" title="{{'LINKEDIN' | translate}}" alt="{{'LINKEDIN_ICON' | translate}}" width="36px" height="36px">
            </a>
        </div>
    </div>
</div>