.color-back-header {
    background: -prefix-linear-gradient(left, rgb(72, 77, 76), #c7b7b7);
    background: linear-gradient(to right, rgb(72, 77, 76), #c7b7b7);
}

.icon-flag {
    width: 60px;
    height: 33px;
    cursor: pointer;
}

.opacity-flag {
    opacity: 0.4;
}

.title {
    color: #fff;
}