<div class="modal-header">
    <h4 class="modal-title">{{'VIEW_TITLE' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <p class="normal-text-2">{{'ID_ITEM' | translate}}: {{data.id}}</p>
        <p class="normal-text-2">{{'NAME_ITEM' | translate}}: {{data.name}}</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secundary" (click)="close()">{{'CLOSE' | translate}}</button>
</div>